# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Hardhat artifacts
artifacts/
cache/

# Build artifacts
dist/
pkg/balancer-js/src/typechain/*

# Forge
forge-artifacts/
forge-cache/

#.DS_Store
.DS_Store
pkg/.DS_Store
pkg/interfaces/contracts/solidity-utils/.DS_Store
pkg/pool-linear/.DS_Store
pkg/solidity-utils/.DS_Store
pkg/solidity-utils/contracts/.DS_Store
pkg/standalone-utils/.DS_Store
pkg/standalone-utils/contracts/.DS_Store
pkg/standalone-utils/contracts/test/.DS_Store
pvt/.DS_Store
pvt/helpers/.DS_Store
pvt/helpers/src/.DS_Store


# Jet Brains IDE Settings
.idea/