name: Benchmark

on:
  push:
    branches:
      - master
  pull_request:
    branches: '*'

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Benchmark Deployment
        run: yarn workspace @balancer-labs/v2-benchmarks measure-deployment

  single-pair-swap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Benchmark Single Pair
        run: yarn workspace @balancer-labs/v2-benchmarks measure-single-pair

  multihop-swap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Benchmark Multihop
        run: yarn workspace @balancer-labs/v2-benchmarks measure-multihop

  join-exit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Benchmark Join/Exit
        run: yarn workspace @balancer-labs/v2-benchmarks measure-join-exit

  relayer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Benchmark Balancer Relayer - multicall
        run: yarn workspace @balancer-labs/v2-benchmarks measure-relayer

env:
  CI: true
