name: CI

env:
  CI: true
  FOUNDRY_PROFILE: 'intense'

on:
  push:
    branches:
      - master
  pull_request:
    branches: ['*', '**/*']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Lint
        run: yarn lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Build
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-solidity-utils:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-solidity-utils test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-solidity-utils test-fuzz

  test-standalone-utils:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-standalone-utils test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-standalone-utils test-fuzz

  test-vault:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-vault test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-vault test-fuzz

  test-pool-utils:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-pool-utils test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-pool-utils test-fuzz

  test-pool-weighted:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-pool-weighted test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-pool-weighted test-fuzz

  test-pool-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-pool-stable test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-pool-stable test-fuzz

  test-pool-linear:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-pool-linear test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-pool-linear test-fuzz

  test-liquidity-mining:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-liquidity-mining test
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run Forge tests
        run: yarn workspace @balancer-labs/v2-liquidity-mining test-fuzz

  test-governance-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Compile
        run: yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: yarn workspace @balancer-labs/v2-governance-scripts test
